.j-q-autocomplete {
  position: relative;

  .j-q-autocomplete-list-container {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: var(--j-color-white);
    top: 100%;
    overflow-y: auto;
    padding: 6px;
    max-height: 200px;
    box-shadow: 0px 4px 8px 0px #d7dbec;
    border-radius: 4px;

    // 自定义滚动条样式
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #f5f6fa;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: #d0d3e0;
      border-radius: 3px;

      &:hover {
        background: #a1a7c4;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: 4px 8px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        transition: background 0.15s;

        .list-item-content {
          flex: 1;
          min-width: 0;
          display: flex;
          align-items: center;
          cursor: pointer;

          .j-c-tooltip {
            flex: 1;
            min-width: 0;
          }

          .value {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        .delete-icon {
          opacity: 0;
          cursor: pointer;
          font-size: 16px;
          transition: opacity 0.15s;
        }

        &:hover {
          background: var(--j-color-grey-lighter);

          .delete-icon {
            opacity: 1;
          }
        }
      }
    }
  }
}